
.box-1 {
    position: relative;
    /* Make sure child elements are positioned relative to this container */
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Prevent background from overflowing */
    color: #fff;
    text-align: center;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/saccos.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.authincation {
    width: 50%;
    height: 100vh;
}

.authincation-content {
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

}

.intro_message {
    text-align: center;
    opacity: 0.99;
}

.intro_message h2 {
    font-size: 50px;
    font-weight: 700;
}

.intro_message h2 span {
    color: #ec2a35;
}

.intro_message p {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chatbot-toggle {
    padding: 10px 15px;
    background: #fff;
    color: #25D366;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 10px;
    animation: bounce 2s infinite;
}

.chatbot-toggle:hover {
    background-color: #25D366;
    color: #fff;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@media (min-width: 768px) {
    .login-form {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 1108px) {
    .box-1 {
        width: 0%;
    }

    .authincation {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./images/saccos.jpg');
        background-size: cover;
        background-position: center;
    }

    .animation__wobble {
        -webkit-animation: wobble 1.5s;
        animation: wobble 1.5s;
    }

    .text-info {
        color: #227093 !important;
    }
}
